
<div class="top-info">
    <div class="top-info-lr">
        <div class="top-info-content">
            <i class="fa-regular fa-calendar"></i>
            <a href="">our event</a>                        
        </div>
        <div class="top-info-content">
            <i class="fa-solid fa-pencil"></i>
                <a href="">news</a> 
        </div>
        <div class="top-info-content">
            <i class="fa-solid fa-phone-flip"></i>
                <a href="">012-345-6789</a> 
        </div>
    </div>
    <div class="top-info-lr">
            <div class="top-info-content">
                <i class="fa-solid fa-globe"></i>
                <a href="">language</a> 
            </div>
        <div class="top-info-content">
            <i class="fa-solid fa-plus"></i>
                <a href="">register</a> 
        </div>
        <div class="top-info-content">
            <i class="fa-solid fa-lock"></i>
                <a href="">login</a> 
        </div>
    </div>
</div>

<div class="nav-logo">
    <h2>BABY KIDS</h2>
    <button class="nav-hidden-menu">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>   


<ul>
    <li><a href="">home</a></li>
    <li><a href="">about</a></li>
    <li><a href="">courses</a></li>
    <li><a href="">events</a></li>
    <li><a href="">news</a></li>
    <li><a href="">contact</a></li>
</ul>

<div class="nav-cta-btn">
    <i class="fa-regular fa-address-card"></i>
</div>  




<section class="carousal-container">
    <div class="carousal-slides thumbnail">
        <img src="../public/images/classroom.jpg" alt="classroom">
        <div class="carousal-content"><h2>Carousal caption</h2>
            <button class="btn-primary">Enroll Now</button>
        </div>
    </div>
    <div class="carousal-slides">
        <img src="../public/images/gir.jpg" alt="classroom">
        <div class="carousal-content"><h2>Carousal caption 2</h2>
        <button class="btn-primary">Enroll Now</button>
        </div>
    </div>
    <div class="carousal-slides">
        <img src="../public/images/boys.jpg" alt="classroom">
        <div class="carousal-content"><h2>Carousal caption 3</h2>
            <button class="btn-primary">Enroll Now</button>
        </div>
    </div>
    <a class=" btn-carousal btn-next" >&#10094;</a>
    <a class=" btn-carousal btn-prev" >&#10095;</a>
</section>