<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet" href="../public/css/reset.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Edu-Hub</title>
    </head>
    <body>
        <!-- navigation main header  -->        
      <div class="sticky">
        <header class="top-info">          
          <div class="top-info-lr">
              <div class="top-info-content">
                  <i class="fa-regular fa-calendar"></i>
                  <a href="">our event</a>                        
              </div>
              <div class="top-info-content">
                  <i class="fa-solid fa-pencil"></i>
                      <a href="">news</a> 
              </div>
              <div class="top-info-content">
                  <i class="fa-solid fa-phone-flip"></i>
                      <a href="">012-345-6789</a> 
              </div>
          </div>
          <div class="top-info-lr">
                  <div class="top-info-content">
                      <i class="fa-solid fa-globe"></i>
                      <a href="">language</a> 
                  </div>
              <div class="top-info-content">
                  <i class="fa-solid fa-plus"></i>
                      <a href="">register</a> 
              </div>
              <div class="top-info-content">
                  <i class="fa-solid fa-lock"></i>
                      <a href="">login</a> 
              </div>
          </div>       
      </header>
      <nav class="nav-main">
        <div class="nav-logo">
          <h2>BABY KIDS</h2>
          <button class="nav-hidden-menu">
              <i class="fa-solid fa-bars"></i>
          </button>
        </div> 
        <ul class="nav-list">
          <li><a href="">home</a></li>
          <li><a href="">about</a></li>
          <li><a href="">courses</a></li>
          <li><a href="">events</a></li>
          <li><a href="">news</a></li>
          <li><a href="">contact</a></li>
        </ul> 
        <div class="nav-cta-btn">
          <i class="fa-regular fa-address-card"></i>
        </div>        
      </nav>
      </div> 
      <!-- carousal  -->      
      <div class="carousal-container">
        <div class="carousal-slide thumb">
          <img src="../public/images/gir.jpg" alt="">
        </div>

        <div class="carousal-slide hidden">
          <img src="../public/images/boys.jpg" alt="">
        </div>

        <div class="carousal-slide hidden">
          <img src="../public/images/classroom.jpg" alt="">
        </div>
      </div>
      <!-- top card  --> 
      <section class="top-card-container">
        <div class="top-cards blue">
          <i class="fa-solid fa-pencil"></i>
          <a href="">courses</a>
        </div>
        <div class="top-cards gold">
          <i class="fa-solid fa-money-check-dollar"></i>
          <a href="">prices</a>
        </div>
        <div class="top-cards orange">
          <i class="fa-solid fa-icons"></i>
          <a href="">events</a>
        </div>
        <div class="top-cards green">
          <i class="fa-solid fa-graduation-cap"></i>
          <a href="">teachers</a>
        </div>
      </section>
      <!-- activities card  --> 
      <section class="activities-container">
        <h2 class="text-sub-heading">our activities</h2>
        <h3 class="text-large">OUR BEST SERVICES FOR YOUR KIDS
        </h3>
        <div class="activities-cards-grid">
          <div class="activity-card">
            <div class="card-image bg-gold">
              <i class="fa-brands fa-envira"></i>
            </div>
            <div class="activity-card-content">
              <h3>CUSTOM FOOD</h3>
            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <div>
              <i class="fa-solid fa-angles-right"></i>
              <a href="">Learn More</a>
            </div>
            </div>
          </div>
          <div class="activity-card">
            <div class="card-image bg-orange">
              <i class="fa-solid fa-person-skiing"></i>
            </div>
            <div class="activity-card-content">
              <h3>MANY SPORTS</h3>
            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <div>
              <i class="fa-solid fa-angles-right"></i>
              <a href="">Learn More</a>
            </div>
            </div>
          </div>
          <div class="activity-card">
            <div class="card-image bg-green">
              <i class="fa-solid fa-bus"></i>              
            </div>
            <div class="activity-card-content">
              <h3>BUS SERVICE</h3>
            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <div>
              <i class="fa-solid fa-angles-right"></i>
              <a href="">Learn More</a>
            </div>
            </div>
          </div>
          
          <div class="activity-card">
            <div class="card-image bg-blue">
              <i class="fa-solid fa-music"></i>
            </div>
            <div class="activity-card-content">
              <h3>MUSIC LESSON</h3>
            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <div>
              <i class="fa-solid fa-angles-right"></i>
              <a href="">Learn More</a>
            </div>
            </div>
          </div>
          
          <div class="activity-card">
            <div class="card-image bg-purple">
              <i class="fa-solid fa-tree-city"></i>
            </div>
            <div class="activity-card-content">
              <h3>EXCURSIONS</h3>
            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <div>
              <i class="fa-solid fa-angles-right"></i>
              <a href="">Learn More</a>
            </div>
            </div>
          </div>
          
          <div class="activity-card">
            <div class="card-image bg-red">
              <i class="fa-solid fa-globe"></i>
            </div>
            <div class="activity-card-content">
              <h3>LANGUAGES
              </h3>
            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
            <div>
              <i class="fa-solid fa-angles-right"></i>
              <a href="">Learn More</a>
            </div>
            </div>
          </div>
        </div>
      </section>
      <!-- paralax contact  -->
      <div class="paralax">
        <div class="paralax-btn-wrapper">
          <button class="paralax-btn">
            <i class="fa-solid fa-book"></i> all courses
          </button>

          <button class="paralax-btn">
            <i class="fa-solid fa-pencil"></i> Contact us
          </button>
        </div>
      </div>
      <!-- our events  -->
      <section class="events">
        <h2 class="text-sub-heading">our events</h2>
        <h3 class="text-largest">DON'T MISS OUR EVENTS</h3>

        <div class="event-cards-grid">
          <div class="event-card bg-green">
            <a href="">21 <br> DEC</a>
            <img src="../public/images/boys.jpg" alt="">
            <div class="event-card-text-highlight">
              A DAY IN THE PARK
            </div>
            <div class="event-card-time">
              <p><span><i class="fa-solid fa-location-dot"></i></span>
                New York, Times Square
              </p>
              <p><span><i class="fa-regular fa-clock"></i></span>
                9:00 To 14:00
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum.
                
              </p>
              <button class="events-btn">CHECK IT</button>
            </div>
          </div>

          <div class="event-card bg-blue">
            <a href="">10 <br> MAY</a>
            <img src="../public/images/classroom.jpg" alt="">
            <div class="event-card-text-highlight">
              ART SESSION
            </div>
            <div class="event-card-time">
              <p><span><i class="fa-solid fa-location-dot"></i></span>
                Our School
              </p>
              <p><span><i class="fa-regular fa-clock"></i></span>
                9:00 To 14:00
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum.
                
              </p>
              <button class="events-btn">CHECK IT</button>
            </div>
          </div>

          <div class="event-card bg-gold">
            <a href="">15 <br> APR</a>
            <img src="../public/images/gir.jpg" alt="">
            <div class="event-card-text-highlight">
              WATERCOLOR PRACTICE
            </div>
            <div class="event-card-time">
              <p><span><i class="fa-solid fa-location-dot"></i></span>
                Secondary School
              </p>
              <p><span><i class="fa-regular fa-clock"></i></span>
                9:00 To 14:00
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum.
                
              </p>
              <button class="events-btn">CHECK IT</button>
            </div>
          </div>

          <div class="event-card bg-orange">
            <a href="">24 <br> MAR</a>
            <img src="../public/images/classroom.jpg" alt="">
            <div class="event-card-text-highlight">
              SPORT TRAINING
            </div>
            <div class="event-card-time">
              <p><span><i class="fa-solid fa-location-dot"></i></span>
                Central Park (NY)
              </p>
              <p><span><i class="fa-regular fa-clock"></i></span>
                9:00 To 14:00
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum.
                
              </p>
              <button class="events-btn">CHECK IT</button>
            </div>
          </div>
        </div>
      </section>
       <!-- paralax school days  -->
      <div class="paralax">
        <div class="time-heading">
          <h2 class="text-largest">FIRST DAY AT SCHOOL !</h2>
          <p class="tex-larger">ARE YOU READY ?</p>
          <div class="time-display">
            <div class="days">
              <p class="tex-sub-heading">000</p>
              <h5 class="heading-btn bg-blue">Days</h5>
            </div>
            <div class="hours">
              <p class="tex-sub-heading">00</p>
              <h5 class="heading-btn bg-gold">hours</h5>
            </div>
            <div class="minutes">
              <p class="tex-sub-heading">00</p>
              <h5 class="heading-btn bg-green">minutes</h5>
            </div>
            <div class="seconds">
              <p class="tex-sub-heading">00</p>
              <h5 class="heading-btn bg-purple">seconds</h5>
            </div>

          </div>
        
        </div>        
      </div>
      <!-- our teacher section  -->      
     <section class="teachers">
        <h2 class="text-sub-heading">our teacher</h2>
        <h3 class="text-larger">FULL TIME · AGE: 3-6 YEARS OLD</h3>
        
        <div class="teachers-grid">
          <div class="teachers-card bg-orange">
            <div class="teachers-card-img">
              <img src="../public/images/profile11.jpg" alt="">
            </div>
            <div class="teachers-card-content">
              <h2 class="text-large">JULIETTE LIGHT</h2>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet.

              </p>
              <a href=""><i class="fa-solid fa-graduation-cap"></i> Know Me :)</a>
            </div>
            <div class="teachers-card-icons">
              <i class="fa-solid fa-file-arrow-down"></i>
              <i class="fa-solid fa-link"></i>
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>

          <div class="teachers-card bg-blue">
            <div class="teachers-card-img">
              <img src="../public/images/profile-1.jpg" alt="">
            </div>
            <div class="teachers-card-content">
              <h2 class="text-larger">JULIETTE LIGHT</h2>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet.

              </p>
              <a href=""><i class="fa-solid fa-graduation-cap"></i> Know Me :)</a>
            </div>
            <div class="teachers-card-icons">
              <i class="fa-solid fa-file-arrow-down"></i>
              <i class="fa-solid fa-link"></i>
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>

          <div class="teachers-card bg-gold">
            <div class="teachers-card-img">
              <img src="../public/images/profile33.jpg" alt="">
            </div>
            <div class="teachers-card-content">
              <h2 class="text-large">JULIETTE LIGHT</h2>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet.

              </p>
              <a href=""><i class="fa-solid fa-graduation-cap"></i> Know Me :)</a>
            </div>
            <div class="teachers-card-icons">
              <i class="fa-solid fa-file-arrow-down"></i>
              <i class="fa-solid fa-link"></i>
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>

          <div class="teachers-card bg-purple">
            <div class="teachers-card-img">
              <img src="../public/images/profile-2.jpg" alt="">
            </div>
            <div class="teachers-card-content">
              <h2 class="text-large">JULIETTE LIGHT</h2>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet.

              </p>
              <a href=""><i class="fa-solid fa-graduation-cap"></i> Know Me :)</a>
            </div>
            <div class="teachers-card-icons">
              <i class="fa-solid fa-file-arrow-down"></i>
              <i class="fa-solid fa-link"></i>
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>        
     </section>  
     <!-- paralax school days  -->
     <div class="paralax" style="background-image: url('../public/images/gir.jpg');" >
              
        <div onload="myScroll()" class="school-info-display">
          <div class="teachers">
            <p id="teacher" class="bg-blue circled">76</p>
            <h5 class="text-light">teachers</h5>
          </div>
          <div class="course">
            <p id="course" class="bg-green circled">32</p>
            <h5 class="text-light">course</h5>
          </div>
          <div class="lessons">
            <p id="lesson" class="bg-gold circled">48</p>
            <h5 class="text-light">lessons</h5>
          </div>
          <div class="activities">
            <p id="activity" class="bg-purple circled">72</p>
            <h5 class="text-light">activities</h5>
          </div>

        </div>      
             
    </div>    
    <!-- bottom cta  -->
    <section class="bottom-cta">
      <button class="primary"><i class="fa-solid fa-table-cells"></i>View More</button>
    </section>
    <!-- footer  -->
     <footer>
      <article>
        <h2 class="text-sub-heading">OUR PRIMARY SCHOOL</h2>
        <p class="text-large">OUR PRIMARY SCHOOL
          Lorem ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet, ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        <div class="footer-icons">
          <a href=""class="bg-orange"><i class="fa-solid fa-envelope"></i></a>
          <a href="" class="bg-gold" ><i class="fa-solid fa-house"></i></a>
          <a href="" class="bg-red" ><i class="fa-solid fa-phone-flip"></i></a>
        </div>
      </article>

      <div class="footer-tags">
        <h2 class="text-sub-heading">OUR TAGS</h2>
          <div class="footer-tags-items">
            <a href="">Teacher</a>
            <a href="">Baby</a>
            <a href="">Kids</a>
            <a href="">Teacher</a>
            <a href="">Games</a>
            <a href="">Science</a>
            <a href="">Math</a>
            <a href="">Painting</a>
            <a href="">Students</a>
            <a href="">Meetings</a>
            <a href="">Parents</a>
            <a href="">Teacher</a>
          </div>
        </div>
        <div class="footer-gallery">
          <h2 class="text-sub-heading">GALLERY OF SCHOOL</h2>
          <div class="gallery-grid">
            <img src="../public/images/boys.jpg" alt="">
            <img src="../public/images/gir.jpg" alt="">
            <img src="../public/images/classroom.jpg" alt="">
            <img src="../public/images/profile22.jpg" alt="">
            <img src="../public/images/gir.jpg" alt="">
            <img src="../public/images/classroom.jpg" alt="">
          </div>
        </div>
        <div class="footer-contact-form">
          <h2 class="text-sub-heading">CONTACT US</h2>
          <form action="">
            <input type="text" placeholder="Email"><br>
            <textarea name="contact-form" id="" cols="21" rows="3" placeholder="Message"></textarea><br>
            <button type="submit">SEND</button>
          </form>
        </div>
     </footer>
     <div class="bottom-info">
      <p>© Copyright 2023 by Paranoidy0cod3 - Made With ❤️ In Cambodia</p>
      <div class="bottom-info-social">
        <a href="" class="bg-blue"><i class="fa-brands fa-facebook"></i></a>
        <a href="" class="bg-red"><i class="fa-brands fa-google-plus"></i></a>
        <a href="" class="bg-blue"><i class="fa-brands fa-twitter"></i></a>
      </div>
     </div>
  </body>
<script src="../public/js/index.js"></script>
</html>