
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root {
    /* colors  */
    --color-blue: #6fc4d9;
    --color-gold: #e0b84e;
    --color-orange: #df764e;
    --color-green: #6ab78a;
    --color-white: #fff;
        
    --font-color-heading: #868585;
    --font-color-sub-heading: #a4a4a4;    
    --font-color-white: #fff;
    --font-color-black: #000;
    --tex-largest: 2.8rem;
    --text-larger: 1.9rem;
    --text-large: 1.5rem;
    --text-medium: 1.25rem;
    --text-small: 1.1rem;
    --text-smallest: 0.9rem;

    --font-family: 'Raleway', sans-serif;

}

body {
    font-family: var(--font-family);   
  
        
}

.text-heading {
    color: var(--font-color-heading);
    font-size: var(--text-larger);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6;
}
.text-sub-heading {
    color: var(--font-color-sub-heading);
    font-size: var(--text-large);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.6;
}
.text-sub-heading::after {
    content: '';
    display: block;
    width: 4rem;
    height: 0.2rem;
    background: inherit;
    margin: 0.8rem 0;
    border-radius: 10px;
}
.text-medium {
    /* color: var(--font-color-black); */
    font-size: var(--text-medium);
    font-weight: 400;
}
.text-small {
    /* color: var(--font-color-black); */
    font-size: var(--text-small);
    /* font-weight: 400; */
}
.text-smallest {
    /* color: var(--font-color-black); */
    font-size: var(--text-smallest);
    
}

.text-light {
    color: var(--font-color-white);
}
.text-dark {
    color: var(--font-color-sub-heading);
}
.text-center {
    text-align: center;
}

.bg-blue {
    background-color: var(--color-blue);
}
.bg-gold {
    background-color: var(--color-gold);
}
.bg-orange {
    background-color: var(--color-orange);
}
.bg-green {
    background-color: var(--color-green);
}
.bg-white {
    background-color: var(--color-white);
}
.bg-red {
    background-color: #c86969;
}
.bg-purple {
    background-color: rgb(177, 125, 186);
}
.btn-primary {
    border: none;
    border-radius: 7px;
    background-color: var(--color-blue);
    padding:1rem 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

/* utility  */
.sticky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;    
}
.top-info::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    z-index:200 ;
    top:27%;
    left: 7.9%;
    right: 7.9%;
    background: rgb(111,196,217);
    background: linear-gradient(90deg, rgba(111,196,217,1) 21%, rgba(224,184,78,1) 41%, rgba(72,203,198,1) 78%, rgba(224,184,78,1) 97%);
}
.sticking {
    position: fixed;
    top: 0;

}
.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0 4.7rem;
    background-color: black;
    
}
.top-info-lr {
    display: flex;
    gap: 2rem;
    padding: .5rem 2rem;
   
}
.top-info a {
    color: white;
    text-decoration: none;
}

.nav-main {
    left: 0;
    right: 0;    
    margin: 0 4.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    /* z-index: 100; */
    
}
.nav-main h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
}
.nav-hidden-menu {
    display: none;
    height: 40px;
    width: 40px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    background-color: white; 
    
}
.nav-list a {
    color: var(--font-color-heading);
    text-decoration: none;
    
}
.nav-list a:hover {    
    color:var(--color-orange);
}
.nav-cta-btn {
    background-color: var(--color-orange);
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
}
.carousal-container {   
    display: flex;     
    object-fit: cover;
    flex-grow: 0; 
    margin-top: -5rem;   
} 
.carousal-slide {
    max-height: 50rem;
    /* width: 100%; */
    overflow: hidden;
}
.carousal-slide img {
           
    
}  
/* hidden carousal slides  */

.carousal-slides {
    /* display: block; */
    width: 100%;
    max-height: 25%;
    border: 3px solid purple;
}
.carousal-slides h2 {
    /* position: relative; */
    font-size: 3rem;
    color: white;
    background-color: #00000020;
    margin-bottom: 1rem;
}
.carousal-content {
    position: absolute;
    top: 35%;
    left: 5%;
    right: 5%;
}
@media (max-width: 60em) {
    .carousal-container {
        margin-top: 3rem;
    }
    .nav-main {
        margin: 0 1rem;
        border-radius: 0 0 5px 5px;
    }
    .top-info {
        display: none;
    }
    .nav-cta-btn {
        display: none;       
    }
    .nav-logo {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
    }
    .nav-hidden-menu {
        display: block;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        flex: 1;
        text-align: center;
        border-radius: 0 0 .3re .3rem;        
    }
    .active {
        display:block;
    }
    .top-cards i {
        display: none;
    }
}

.top-card-container {
    display: flex;  
    justify-content: center;  
    border-radius: 10px;
    position: relative;
    top: -5%;
    width: 80%;
    margin: 0 auto;
}
.top-cards {
    font-size: var(--font-color-heading);
    /* color: white; */
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.top-cards i {
    color: var(--font-color-sub-heading);
    font-size: 4rem;
}
.top-cards a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;

}
.blue {
    background-color: var(--color-blue);
}
.gold {
    background-color: var(--color-gold);
}
.orange {
    background-color: var(--color-orange);
}
.green {
    background-color: var(--color-green);
}



.activities-container {
    width: 80%;
    margin: 0 auto;
    
}

.text-large::after {   
        content: '';
        display: block;
        width: 4rem;
        height: 0.25rem; 
        margin-top: .3rem;      
        background-color: var(--color-orange);
        border-radius: 10px;
    
}

.activities-cards-grid {
    padding: 1rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
}
.activity-card {
    display: flex;
    gap: 1rem;

}
.activity-card div a {
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color-sub-heading);
}
.card-image {
    min-width: 5.5rem;
    max-height: 5.5rem;
    font-size: 4rem;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.paralax {
    background-image: url('../images/classroom.jpg');
    height: 40%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative;     */
    display: flex;
    align-items: center;
    justify-content: center;
}
.paralax-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;    
    gap: 1rem;
    
    
}

.paralax-btn {
    background-color: var(--color-blue);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: clamp(.8rem, 3vw ,1.5rem);
    text-transform: uppercase;
}
.paralax-btn i {
    font-size: clamp(1rem, 3vw ,1.5rem);
    margin-right: .2rem;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }

}

.events {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.event-cards-grid {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 2rem;
}

.event-card {
    /* padding: 1rem; */
    position: relative;
    border-radius: 8px;
}
.event-card a {
    position: absolute;
    text-align: center;
    background-color: #495052;
    color: white;
    padding: .5rem 1.5rem;
    top: 2%;
    left: 3%;
    border-radius: 8px;
    text-decoration: none;

}

.event-card-text-highlight {
    background-color: #495052;
    color: white;
    padding: 1rem;
    text-align: center;
}

.event-card-time {
    padding: 2rem;
    color: white;
    line-height: 1.5;
}
.event-card-time :nth-child(2)::after{
    content: "";
    display: block;
    height: .2rem;
    width: 2.5rem;
    background-color: white;
    margin-top: .5rem;
}

.event-card-time p {
    padding: .5rem 0;
}

.events-btn {
    background-color: inherit;
    box-shadow: 0 .2rem .1rem white;
    border: none;
    padding: .5rem 1rem;
    margin-top: .8rem;
    color: white;
}

.time-heading {
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.time-heading h2 {
    font-size: 2rem;
}
.time-heading p {
    font-size: 1.5rem;
}

.time-display {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.time-display p {
    font-size: 2.2rem;
    font-weight: 700;
}

.time-display h5 {
    font-size: .8rem;
    font-weight: 700;
    border-radius: 8px;
    padding: .5rem 1rem;
}

.teachers {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.teachers h3::after {
        content: '';
        display: block;
        width: 4rem;
        height: 0.25rem; 
        margin-top: .3rem;      
        background-color: var(--color-green);
        border-radius: 10px;
}


.teachers-grid {
    display: grid;
    grid-template-columns: 
    repeat(auto-fill, minmax(28em, 1fr));
    gap: 2em;
}

.teachers-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: -.1em .2em .2em .1em #a4a4a4;
}

.teachers-card-img {       
    width: 100%;
}
.teachers-card-img img {
    /* max-width: 100%; */
    aspect-ratio: 1/1;
    object-fit: cover;
}

.teachers-card-content,
.teachers-card-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 1em;
    gap: 1em;
    color: white;
}
.teachers-card-icons i {
    font-size: 1.5rem;
    color: white;
    gap: 2em;
}

.teachers-card-content a{
    color: white;
    font-size: 1.25rem;
}
.school-info-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3em;
    font-size: 2rem;
}
.circled {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.bottom-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
.bottom-cta button{
    background-color: var(--color-blue);
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: .2em;
    font-size: 1.2rem;
}
.bottom-cta i {
    margin: 0 .5em;
}

@media (max-width: 40em) {
    .top-card-container {
        flex-direction: column;
        
    }
    .top-cards i {
        display: block;
    }
    .teachers-card {
        flex-direction: column;
        gap: 1em;
        
    }
    .teachers-card-icons {
        display: none;
    }
}
footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1.5em;
    background-color: #495052;
    color: white;
    justify-content: space-between;
    padding: 2em;
    position: relative;
}
footer::before {
    content: '';
    display: block;
    position: absolute;
    background: rgb(111,196,217);
    background: 
    linear-gradient(90deg, rgba(111,196,217,1) 21%, rgba(224,184,78,1) 41%, rgba(72,203,198,1) 78%, rgba(224,184,78,1) 97%);
    height: 5px;
    inset: 0;
}
.footer-icons {
    color: white;
    font-size: 1.5rem;
    margin: 2em 0;
}

.footer-icons a {
    color: white;
    text-decoration:none;
    padding: .5em;
    margin: .5em;
}

.footer-tags-items {
    display: flex;
    flex-wrap: wrap;
    gap: .7em;
}
.footer-tags-items a {
    text-decoration: none;
    color: white;
    background-color: #404547;
    padding: .5em;
    border-radius: .2em;   

}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    border-radius: .3em;
}

.footer-contact-form {
    justify-self: center;
}
form input, textarea, button{
    margin:.3em;
}

form button {
    background-color:var(--color-green);
    padding: .5em 1em;
    border: none;
    color: white;
    border-radius: .2em;
}
form input, textarea {
    border-radius: .2em;
    box-shadow: 0 .2em .1em #1b1b1bdc;
}
form input, input::placeholder,textarea ,textarea::placeholder {
    text-align: center;
    color: var(--font-color-sub-heading);
    background-color: #404547;
    font-size: 1.25rem;
} 

.bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404547;
    padding: 2em;
    color: #a4a4a4;
}

.bottom-info-social a {
    text-decoration: none;
    /* color: white; */
    color: white;
    font-size: 2rem;
    margin: .2em;
}
.bottom-info-social i {
    /* color: red; */
    padding: .2em;
}
